asn1crypto==0.24.0
azure-cognitiveservices-nspkg==3.0.1
azure-cognitiveservices-search-imagesearch==1.0.0
azure-cognitiveservices-search-nspkg==3.0.1
azure-common==1.1.22
azure-nspkg==3.0.2
certifi==2019.6.16
cf-deployment-tracker==1.0.2
cffi==1.12.3
chardet==3.0.4
cloudant==2.4.0
cryptography==2.7
future==0.17.1
idna==2.8
isodate==0.6.0
msrest==0.6.7
oauthlib==3.0.1
pycparser==2.19
python-telegram-bot==11.1.0
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
urllib3==1.25.3
